* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

::selection {
    /* background-color: rgba(185, 221, 255, 0.5) */
    background-color: rgba(61, 61, 61, 0.1)
}

:root {
    box-sizing: border-box;

    --text-color: rgb(0, 0, 0);
    --text-color2: #55534d;
    --text-color3: #7a7870;
    --bg-pink: rgb(228, 207, 203);

    --dark-bg: #121212;

    --dark-red: rgb(110, 38, 38);
    --dark-orange: rgb(136, 105, 91);
    --dark-blue: rgb(7, 7, 163);
    --dark-green: rgb(0, 139, 81);
    --dark-purple: rgb(81, 35, 99);
    --dark-pink: rgb(136, 91, 106);

    --border-color: rgba(128, 128, 128, 0.4);
    --dark-gray: rgb(39, 39, 39);

    --tiffany-blue: #81d8d0;

    --pale-blue: #b9e4e7;
    --pale-yellow: #f5d992ff;

    --light-beige1: #f4f3f0;
    --light-beige2: #dedbd1;
    --light-beige: #d7ccb0;
}

@keyframes noise {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

@font-face {
    font-family: 'Bauhaus Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bauhaus Regular'), url('../assets/fonts/BauhausRegular.woff') format('woff');
}

@font-face {
    font-family: 'Bauhaus Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bauhaus Bold'), url('../assets/fonts/BauhausBold.woff') format('woff');
}

@font-face {
    font-family: 'Graphik Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Graphik Regular'), url('../assets/fonts/Graphik.woff2') format('woff2');
}

body {
    --padding: 2rem;
    /* --bg-color: var(--light-beige1); */

    background-color: var(--bg-color);
    font-family: 'Graphik Regular';
    letter-spacing: 0.01rem;
    line-height: 1.6;
}

body.no-scroll {
    height: 100vh;
    overflow: hidden;
}

body.has-bg {
    min-height: 100vh;
    background-image: radial-gradient(circle at 10% top, rgb(186, 219, 186) 5%, white 30%);
}

main {
    min-height: calc(100vh - 10rem);
}

.footer {
    margin: 6rem auto 0;
    padding: 3rem calc(3rem + 3vw) 4rem;
    border-top: 10px solid var(--text-color);
}

.footer__sitemap {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.footer__link {
    font-size: 1.5rem;
    font-family: 'Bauhaus Regular';
}

.link--btn {
    display: flex;
    align-items: center;
    gap: 0.3em;
    width: max-content;
    padding: 0.5em 0.8em 0.6em 1em;
    font-family: 'Inter', serif;
    border: 1px solid var(--text-color);
}

.link--btn::after {
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(../assets/icons/arrow_right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.link--btn:hover {
    background-color: var(--text-color);
    color: white;
}

.link--btn:hover::after {
    filter: invert(1);
}

.link--social {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
}

h1,
h2,
h3 {
    font-family: 'Bauhaus Regular';
    font-weight: bold;
    /* font-family: 'Inter', sans-serif; */
}

section {
    position: relative;
    padding: 3rem 6rem 3rem calc(2rem + 2vw);
}

/* Article */

article {
    margin: 3rem auto;
    max-width: 60rem;
}

article h1 {
    font-size: 3rem;
    text-transform: lowercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.article__desc {
    font-family: 'Bauhaus Regular';
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

a {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    line-height: 1.2;
}

a:not(.link--no-underline)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--border-color);
}

@keyframes animUnderline {
    0% {
        transform-origin: right;
        transform: scaleX(1);
    }

    50% {
        transform-origin: right;
        transform: scaleX(0);
    }

    51% {
        transform-origin: left;
        transform: scaleX(0);
    }

    100% {
        transform-origin: left;
        transform: scaleX(1);
    }
}

a:not(.link--no-underline):hover::after {
    animation-name: animUnderline;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

/* Section Styles */


/* @media screen and (min-width: 636px) {
    .section--full {
        min-height: 100vh;
    }
} */

.section__image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.section__heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section__title {
    font-family: 'Inter', sans-serif;
    position: relative;
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.section--basic .section__title {
    font-size: calc(3rem + 3vw);
}

.section--two-hor .section__pre {
    padding-bottom: 1rem;
    font-family: "Forum", serif;
    font-style: italic;
}

.section--two-hor .section__heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid currentColor;
}

.section--two-hor .section__content {
    padding-top: 1.5rem;
}

@media screen and (min-width: 840px) {
    .section--two-ver {
        display: flex;
        align-items: center;
        padding-left: calc(2vw + 5rem);
    }

    .section__left,
    .section__right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section__left {
        max-width: 35rem;
        border-right: 1px solid currentColor;
    }

    .section__left>* {
        padding-right: 6rem;
    }

    .section__right {
        flex: 1;
    }

    .section__right>* {
        padding-left: 4rem;
    }
}

.section--blog .section__title {
    font-size: 2rem;
}

/* Navigation Styles */

nav {
    position: relative;
    width: 100%;
    /* background-color: var(--bg-color); */
    transition: all 0.2s ease-in-out;
    z-index: 20;
}

@media screen and (min-width: 636px) {
    body {
        --padding: calc(3rem + 3vw);
    }
}

.nav__bar {
    padding: 2rem 5rem 1rem 4rem;
}

.nav__inner {
    width: 100%;
    display: flex;
    align-items: center;        
    justify-content: space-between;
}

.header-logo {
    display: block;
    width: max-content;
    font-family: 'Bauhaus Regular';
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.header-logo:hover {
    opacity: 0.8;
}

.nav__btn {
    display: flex;
    gap: 0.6em;
    align-items: center;
    cursor: pointer;
    color: inherit;
}

.nav__btn-title {
    text-transform: uppercase;
    font-family: 'Graphik Regular';
    font-weight: bold;
    letter-spacing: 0.02rem;
}

.hamburger {
    display: block;
    color: inherit;
}

.hamburger>.line {
    display: block;
    width: 1.3rem;
    height: 0;
    border-bottom: 1.5px solid currentColor;
    transition: all 0.2s ease-in-out;
}

.hamburger>.line+.line {
    margin-top: 0.35rem;
}

.hamburger>.line:nth-child(1) {
    transform-origin: top left;
}

.hamburger>.line:nth-child(3) {
    transform-origin: bottom left;
}

nav.expanded {
    background-color: var(--dark-bg);
    color: white;
}

nav.expanded .hamburger {
    transform: scaleX(0.7);
}

nav.expanded .hamburger>.line:nth-child(1) {
    transform: rotate(35deg) scaleX(1.2);
}

nav.expanded .hamburger>.line:nth-child(2) {
    opacity: 0;
}

nav.expanded .hamburger>.line:nth-child(3) {
    transform: rotate(-35deg) scaleX(1.2);
}

.nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 100%);
    background-color: var(--dark-bg);
    padding: 0rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(2rem + 2vh);
    color: inherit;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 636px) {
    .nav-links {
        padding: 0rem calc(3rem + 3vw) 3rem;
    }
}

nav.expanded .nav-links {
    opacity: 1;
    pointer-events: unset;
    transform: none;
}

.nav__link {
    display: block;
    font-size: 4rem;
    font-family: 'Bauhaus Regular', serif;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: inherit;
    line-height: 1.35;
    overflow-y: hidden;
    /* border-bottom: 1px solid currentColor; */
}

.nav__link::before {
    display: none;
}

.link__inner {
    display: block;
    transform: none;
    /* transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1); */
    transition: transform 0.3s ease-out;
}

.nav__link:nth-child(2) .link__inner {
    transition-delay: 0.1s;
}

.nav__link:nth-child(3) .link__inner {
    transition-delay: 0.2s;
}

.nav__link:nth-child(4) .link__inner {
    transition-delay: 0.3s;
}

nav:not(.expanded) .link__inner {
    transform: translateY(100%);
    transition-delay: 0.1s;
}