.index-flex {
    width: 100vw;
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: space-evenly;
}

.index-content {
    max-width: 100%;
}

.hero-section {
    padding-top: 6rem;
    border-bottom: 1px solid;
}

.hero__heading {
    width: 100%;
    position: relative;
    display: block;
    font-size: 13vw;
    font-weight: 500;
    line-height: 0.8;
    border-bottom: 20px solid;
    font-kerning: none; 
text-rendering: optimizeSpeed;
}

/* @media (max-width: 1350px) {
    .hero__heading {
    font-size: 15vw;
    }
} */

.hero__heading::after {
    position: absolute;
    bottom: -30px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 5px solid;
}

.hero__heading .char {
    position: relative;
    top: 0.1em;
}

.hero__landing {
    width: max-content;
    max-width: 95%;
    margin: 0 auto 3rem;
}

.landing__intro {
    padding-top: 2em;
    display: flex;
    gap: calc(2rem + 3vw);
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.intro__keywords {
    /* max-width: calc(15rem + 6vw); */
    max-width: 25rem;
    text-align: justify;
    font-family: 'Belarus', serif;
    font-weight: 100;
    font-size: 4rem;
    line-height: 1;
}

.intro__desc {
    position: relative;
    top: .1em;
    max-width: 35rem;
    text-align: justify;
}

.intro__desc > p + p {
    margin-top: 1em;
}

.hero__fig {
    position: relative;
    max-width: 40rem;
    width: max-content;
    padding-right: 2rem;
    aspect-ratio: 2 / 1;
}

/* .hero__fig::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/newspaper3.avif);
    filter: opacity(0.5) brightness(1.25);
    z-index: -1;
} */

.landing__banner {
    display: flex;
    gap: 3rem;
    align-items: flex-end;
}
 
.banner__featured {
    width: 25rem;
}
 
.banner__featured h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transform: translateX(5px);
}

.banner__featured li {
    list-style: none;
}

.banner__featured li + li {
    margin-top: 1em;
}

.banner__featured a {
    display: block;
}

@keyframes link-reveal {
    1% {
        background-size: 100% 100%;
    }
    20% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 100% 0%;
    }
}

.banner__featured a .line-mask {
    display: block;
    width: max-content;
    font-size: 2.5rem;
    font-family: 'Belarus', serif;
    text-transform: uppercase;
    text-align: justify;

    --bg: black;
    background: linear-gradient(0deg, var(--bg), var(--bg)) no-repeat top / 100% 100%;
}

/* .banner__featured li:nth-child(2) {
    --bg: #d62337;
}

.banner__featured li:nth-child(3) {
    --bg: #fbd308;
}

.banner__featured li:nth-child(4) {
    --bg: #2d44ed;
} */

.banner__featured a:hover .line {
    text-decoration: 2px underline;
}

@media (max-width: 1000px) {
    .landing__banner {
        display: block;
    }

    .banner__featured {
        max-width: 100%;
        margin: 3rem 1rem 0;
    }
}

.hero__fig > svg {
    width: max-content;
    height: max-content;
    max-width: 100%;
}

/* .hero__fig > svg #layer1 > g {
    transition: all 0.25s ease-in-out;
}

.hero__fig > svg #layer1 > g:hover {
    opacity: 0.6;
} */

.hero__fig > svg #layer1 text {
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero__fig > svg #layer1 > g:hover text {
    opacity: 1;
}

.hero__desc {
    margin: 0 auto;
    max-width: 40rem;
    font-weight: 500;
}

.hero__intro {
    margin: 4rem auto 3rem;
    display: flex;
    gap: calc(3rem + 3vw);
    justify-content: center;
}

.intro__left {
    flex: 1;
    width: max-content;
    max-width: 25rem;
}

.hero__pic {
    /* width: 42rem; */
    width: 100%;
    height: 35rem;
    background-image: url(../assets/images/hero_img.png);
    background-size: 107%;
    background-position: center;
    border-bottom: 10px solid;
    border-left: 6px solid;
}

.hero__poem .poem__heading {
    font-family: 'Belarus', serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero__poem .poem__content {
    font-family: 'Graphik Regular';
}

.hero__note {
    display: flex;
    margin-top: 2rem;
    gap: .6rem;
}

.hero__note::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../assets/icons/arrow_top.svg);
    background-repeat: no-repeat;
}

/* Intro Section */

.section--side {
    /* width: calc(100% + var(--left-shift)); */
    /* --left-shift: calc(7.5rem / 2 + 3rem);
    transform: translateX(calc(-1 * var(--left-shift)));
    padding-left: 10rem; */
    width: 100%;
    z-index: 0;
}

.section2 {
    /* background-color: var(--tiffany-blue); */
}

.featured-posts {
    max-width: 55rem;
    width: 100%;
}

.featured-posts .link--btn {
    margin-top: 3rem;
}