.index-flex {
    width: 100vw;
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: space-evenly;
}

.index-content {
    max-width: 100%;
}

.hero-section {
    /* display: flex;
    justify-content: center; */
    /* gap: 5rem; */
    width: 100%;
    padding: 2rem 0;
}

.hero__landing {
    width: max-content;
    margin: 4rem auto;
    display: flex;
    gap: 5rem;
}

.landing__desc {
    max-width: 20rem;
    font-weight: bold;
    text-align: justify;
    text-indent: 0.5in;
}

.landing__desc > p + p {
    margin-top: 1em;
}

.hero__fig {
    position: relative;
    max-width: 40rem;
    width: max-content;
    padding-right: 2rem;
    aspect-ratio: 2 / 1;
}

/* .hero__fig::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/newspaper3.avif);
    filter: opacity(0.5) brightness(1.25);
    z-index: -1;
} */

.hero__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none;
}

#overlay__rect {
    width: 100vw !important;
    height: 100vh !important;
}

.hero__fig > svg {
    width: max-content;
    height: max-content;
    max-width: 100%;
}

.hero__fig > svg #layer1 > g {
    transition: all 0.25s ease-in-out;
}

.hero__fig > svg #layer1 > g:hover {
    opacity: 0.6;
}

.hero__desc {
    margin: 0 auto;
    max-width: 40rem;
    font-weight: 500;
}

.hero__intro {
    margin: 8rem auto 3rem;
    width: max-content;
    display: flex;
    gap: 5rem;
}

.hero__poem .poem__heading {
    font-family: 'Bauhaus Regular';
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero__poem .poem__content {
    font-family: 'Graphik Regular';
    font-weight: bold;
}

.hero__left {
    /* max-width: 40rem; */
}

.hero__heading {
    /* font-family: 'Josefin Sans', serif; */
    font-size: 10rem;
    font-weight: 500;
    line-height: 1.1;
    text-align: justify;
}

.hero__content {
    margin: 3rem;
    height: 80%;
}

.hero__pic {
    width: 40rem;
    height: 30rem;
    background-image: url(../assets/images/walking.jpg);
    background-size: cover;
}

/* Intro Section */

.section--side {
    /* width: calc(100% + var(--left-shift)); */
    /* --left-shift: calc(7.5rem / 2 + 3rem);
    transform: translateX(calc(-1 * var(--left-shift)));
    padding-left: 10rem; */
    width: 100%;
    z-index: 0;
}

.section2 {
    /* background-color: var(--tiffany-blue); */
}

.featured-posts {
    max-width: 50rem;
    width: 100%;
}

.featured-posts .link--btn {
    margin-top: 3rem;
}