body {
    /* background-color: #f8f7fc; */
}

.post {
    max-width: 90%;
    width: 60rem;
    margin: 6rem auto 0;
    padding: 2rem 1rem;
}

.post__header, .post__body, .post__footer {
    width: 50rem;
    max-width: 100%;
    margin: 0 auto;
}

.post__title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1.3rem;
    line-height: 0.9;
}

.post__img-wrapper {
    width: 100%;
    margin: 2rem auto 3rem;
}

.post__img {
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
    user-select: none;
}

.post__img-attr {
    color: var(--text-color3);
    font-size: 0.8rem;
    text-align: right;
}

.post__img-attr > a {
    color: inherit;
}

.post__body {
    /* margin-bottom: 3rem;
    column-width: 18rem;
    column-gap: 0.5in; */
    text-align: justify;
    line-height: 2;
}

.post__pubDate {
    font-weight: 500;
    margin-bottom: 3rem;
}

.post__description {
    margin: 0 0 3.5em;
    /* color: var(--text-color2);
    font-style: italic; */
    font-family: 'Literata', serif;
    font-size: 1.3rem;
    font-weight: 300;
}

.post__body > p:first-child::first-letter {
    font-size: 5rem;
    line-height: 1;
    float: left;
    font-family: 'Belarus';
    margin-right: 0.1em;
}

.post__body > p + p {
    margin-top: 0.8em;
    /* text-indent: 0.5in; */
}

/* Tags Styles */

.post .tags {
    margin-top: 2em;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    align-items: center;
    padding: 1em 0;
}

.tags__label {}

.tag {
    text-transform: capitalize;
    /* font-weight: bold;
    font-family: "Antic Didone", serif; */
    color: var(--dark-gray);
    padding: 0.3em 0.8em 0.35em;
    font-size: 0.9rem;
    border: 1px solid var(--light-beige2);
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.tag::before {
    content: '#';
}

.tag:hover {
    background-color: var(--light-beige2);
}

/* Poem */

.poem {
    text-align: center;
    line-height: 1.6;
}

.poem h1 {
    font-size: 1.5rem;
}