---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About Me';
---

<BaseLayout pageTitle={pageTitle}>
	<section>
		<h1>{pageTitle}</h1>
		<p>Just some text</p>
		<p>Just some text</p>
		<p>Just some text</p>
		<p>Will update later!</p>
	</section>
</BaseLayout>