---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/index.css';

const pageTitle = 'About Me';
---

<html lang="en" transition:animate="fade">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Florence Yuan | {pageTitle}</title>

		<ClientRouter />
	</head>
	<body>
		<Header />

		<h1>{pageTitle}</h1>
        <p>Just some text</p>
        <p>Just some text</p>
        <p>Just some text</p>
        <p>Will update later!</p>

		<Footer />
	</body>
</html>
