---
import BaseLayout from "../layouts/BaseLayout.astro";

const artworks = Object.keys(import.meta.glob("/src/assets/images/artworks/*.jpg", { eager: true }));
// console.log(artworks)
---

<BaseLayout pageTitle='Writing'>
	<article>
		<h1>Art</h1>
		<p class="article__desc">Some portraits and landscapes</p>
		<div class="art-gallery">
			{artworks.map(artwork =>
				<img
					src={artwork}
					alt="no image available"
					class="gallery__work"
				/>
			)}
		</div>
	</article>
</BaseLayout>

<style>
	.art-gallery {
		width: 100%;
		margin: 0 auto;
		/* column-width: 16rem;
		column-gap: 3rem; */
		display: grid;
		grid-template-columns: repeat(auto-fill, 16rem);
		gap: 3rem;
	}

	.gallery__work {
		width: 100%;
		/* filter: grayscale(1); */
		clip-path: inset(5% 5%);
	}

	.gallery__work:is(:nth-child(6), :nth-child(9)) {
		grid-column: 1 / 3;
		/* filter: grayscale(1) contrast(1.5); */
	}

	.gallery__work:is(:nth-child(7)) {
		grid-column: 2 / -1;
	}
</style>