---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Gallery from "../components/utilities/Gallery.astro";

// const artworks = Object.keys(import.meta.glob("/src/assets/images/artworks/*.jpg", { eager: true }));
const artworks = Object.values(import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/artworks/*.jpg'));
const graphics = Object.values(import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/artworks/graphics/*.svg'));
const portraits = Object.values(import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/artworks/graphics2/*.svg'));
const pottery = Object.values(import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/artworks/pottery/*'));
---

<BaseLayout pageTitle='Artworks'>
	<article>
		<h1>Art</h1>
		<p class="article__desc">Some graphics, portraits and landscapes I've created.</p>
		<section class="gra-section">
			<Gallery>
				{graphics.map(artwork =>
					<Image
						src={artwork()}
						alt="loading"
						class="gallery__work"
					/>
				)}
			</Gallery>
			<p class="">Dichromatic graphic art covers for a magazine release</p>
		</section>
		<section class="pot-section">
			<Gallery>
				{pottery.map(artwork =>
					<Image
						src={artwork()}
						alt="loading"
						class="gallery__work"
					/>
				)}
			</Gallery>
			<p class="">Pottery fragments</p>
		</section>
		<section>
			<Gallery>
				{artworks.map(artwork =>
					<Image
						src={artwork()}
						alt="loading"
						class="gallery__work"
					/>
				)}
			</Gallery>
		</section>
		<section class="por-section">
			<Gallery>
				{portraits.map(artwork =>
					<Image
						src={artwork()}
						alt="loading"
						class="gallery__work"
					/>
				)}
			</Gallery>
			<p class="">Graphic portraits; inspired by the Portuguese poet Pessoa's concept of heteronyms</p>
		</section>
	</article>
</BaseLayout>

<style>
	article {
		max-width: 90%;
	}

	article > *:not(section) {
		max-width: 60rem;
		margin: 0 auto;
	}

	article > section {
		padding: 3rem 0;
	}

	article > section:not(:last-child) {
        border-bottom: 10px solid;
	}

	article > section > p {
		margin: 1rem 2rem 0 0;
		text-align: right;
	}

	/* article > section + section {
		margin-top: 10rem;
	} */

	.gallery__work {
		max-height: 26rem;
		width: auto;
		padding: 1rem 3rem;
	}

	.por-section .gallery__work {
		max-height: 18rem;
	}
</style>