---
import BaseLayout from "../layouts/BaseLayout.astro";
import AnimateLine from "../components/utilities/AnimateLine.astro";
import PostList from "../components/utilities/PostList.astro";

const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle} hasBg={true}>
	<section class="section--blog">
		<h1 class="section__title title--no-break">
			<AnimateLine text='The Curiosity Shop' />
		</h1>
		<p>Welcome to my blog! Here you'll find a collection of normal blog posts mixed with all manners of curiosities.</p>
	
		<PostList category="blog"/>
	</section>
</BaseLayout>

<style>
	.section--blog .section__title {
		font-size: 5rem;
		margin-top: 2rem;
	}
</style>