---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/utilities/PostList.astro";

const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
	<section class="section--blog">
		<h1 class="section__title title--no-break">
			The Curiosity Shop
		</h1>
		<p>Selected short stories, poems, and plays.</p>
	
		<PostList category="fiction"/>
	</section>
</BaseLayout>

<style>
	.section--blog .section__title {
		font-size: 5rem;
		margin-top: 2rem;
	}
</style>