---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroImage from "./../assets/images/drawing.svg?raw";

import FeaturedPosts from "../components/index/FeaturedPosts.astro";
import FeaturedProjects from "../components/index/FeaturedProjects.astro";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<section class="hero-section section--full">
		<div class="hero__landing">
			<h1 class="hero__heading">Curios Galore</h1>
			<div class="landing__intro">
				<div class="intro__keywords">
					Tech, Art & Writing
				</div>
				<div class="intro__desc">
					<p>
						Hello and welcome! I'm Florence. Most of
						the time, I'm busy making fiction and virtual projects.
						Occasionally I find time to reflect, and to be sidetracked
						by things like surrealism, dreams, and avant-garde art.
					</p>
					<p>Click on the sections below to see more!</p>
				</div>
			</div>
			<div class="hero__fig">
				<Fragment set:html={HeroImage} />
			</div>
		</div>
		<!-- <svg class="hero__overlay">
			<rect id="overlay__rect" width="2000" height="1000" fill="#ffffff"
			></rect>
			<rect id="overlay__rect2" width="2000" height="1000" fill="#ffffff"
			></rect>
		</svg> -->
		<div class="hero__intro">
			<div class="hero__left">
				<div class="hero__pic"></div>
			</div>
			<div class="hero__right">
				<div class="hero__poem">
					<p class="poem__heading">A poem, at random</p>
					<pre class="poem__content">
Loneliness fits me snugly
Like a wet coat in the rain, a flimsy thing
Heavy with the in-substance of dissolving
And all touch is but the touch of my own skin
Somewhere along the road there strolls a dream
Now and then it pauses, and lifts its head, as if
To inhale this strange atmosphere of rain
Only it is not rain at all, but a soul
As lonely as its own, a wet coat
Turned inside out
To bare skin
Meeting rain
And in between
A conglomeration of being
We meet rain with our skin and nothing else
In this we walk parallel with dreams
					</pre>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>

<script>
	import "../scripts/animation.js";
</script>
