---
import BaseLayout from "../layouts/BaseLayout.astro";
import AnimateLine from "../components/utilities/AnimateLine.astro";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<section>
		<h1 class="section__title">
			<AnimateLine text='Florence Yuan' />
		</h1>
		<p>This is my home page.</p>
		<img
			src='/src/assets/images/hero-image.png'
			alt="Hero image showing mashup of different artworks"
			class="section__image hero-img"
		/>
	</section>
	<section>
		<h1 class="section__title">
			<AnimateLine text='Florence Yuan' />
		</h1>
		<p>This is my home page.</p>
		<img
			src='/src/assets/images/hero-image.png'
			alt="Hero image showing mashup of different artworks"
			class="section__image hero-img"
		/>
	</section>
</BaseLayout>