---
import BaseLayout from "../layouts/BaseLayout.astro";
import FeaturedPosts from "../components/index/FeaturedPosts.astro";
---

<BaseLayout pageTitle='Writing'>
	<article>
		<div class="article__fig" />
		<h1>
			<i>the</i><br/>
			Writings<br/>
			<i>Wall</i>
		</h1>
		<!-- <h1>Writings</h1> -->
		<p class="article__desc">
			Graffitied onto a wall somewhere in the world is a secret recipe of words that I see occasionally - only occasionally - like a bad magician who is practicing his tricks. But no more talk of the shadows on the walls; when I do project shadows it is only with words. 
		</p>
		<FeaturedPosts />
	</article>
</BaseLayout>

<style>
	h1 > i:nth-child(1) {
		margin-left: 1.5em;
	}

	article::before {
		content: "";
		position: absolute;
		top: 0;
		right: 10%;
		width: 70%;
		height: 20rem;
		/* background-color: gainsboro; */
		z-index: -1;
	}

	.article__fig {
		display: block;
		width: 23rem;
		height: 31rem;
		background-image: url(../assets/images/drawing-1.svg);
		background-size: contain;
		background-repeat: no-repeat;
		transform: translateX(150%);
		margin-top: -10rem;
		margin-bottom: -15rem;
	}
</style>