---
import BaseLayout from "../layouts/BaseLayout.astro";
import FeaturedPosts from "../components/index/FeaturedPosts.astro";
---

<BaseLayout pageTitle='Writing'>
	<article>
		<h1>Writings</h1>
		<FeaturedPosts />
	</article>
</BaseLayout>

<style>
	body {
		/* background-color: var(--pale-yellow); */
	}
</style>