---
const gmailAddr = 'narcissus.yuan@gmail.com';
const projectsAddr = 'https://github.com/florence-yuan';
---

<footer>
    <p>Contact me at {gmailAddr}</p>
    <p>Find my projects at {projectsAddr}</p>
</footer>