---
import Social from "./utilities/Social.astro";

const projectsAddr = 'https://github.com/florence-yuan';

const linksAttrs = [
    { href: "/", label: "Home" },
    { href: "/about/", label: "Writings" },
    { href: "/blog/", label: "Tech" },
    { href: "/fiction/", label: "Curios" },
];

---

<footer class="footer">
    <div class="footer__sitemap">
        {linksAttrs.map(({href, label}) => (
            <a href={href} class="footer__link link--no-underline">
                {label}
            </a>
        ))}
    </div>
    <div class="footer__socials">
        <p>Find my projects at <Social addr={projectsAddr} /></p>
    </div>
    <div class="footer__notes">
        <p>Website designed by me :)</p>
    </div>
</footer>