---
import Navigation from "./Navigation.astro";
import Logo from './Logo.astro'
import Hamburger from "./Hamburger.astro";
---

<header>
    <nav>
        <Logo />
        <div class="nav__right">
            <Hamburger />
            <Navigation />
        </div>
    </nav>
</header>