<!-- ---
import { ClientRouter } from 'astro:transitions';
--- -->

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>

<style>
    .nav-links {
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 1rem;
    }
</style>