---
const {text, noStagger} = Astro.props;
const words = text.split(' ');
---

<div class="animate-text">
    {words.map((word : string) => (
        <div class={"animate-line " + (!noStagger ? "line--stagger" : "line--no-stagger")}>
            {word.split('').map((letter: string) => <span class="animate-letter">{letter}</span>)}
        </div>
    ))}
</div>