---
const { isHome } = Astro.props;
---

<!-- <a href="/" class={"header-logo link--no-underline" + (!isHome ? ' logo--to-home' : '')}> -->
<a href="/" class="header-logo link--no-underline">
    <!-- {isHome ? 'Florence Yuan' : 'Back to Home'} -->
    Florence Yuan
</a>