---
import AnimateLine from "./AnimateLine.astro";
const {title, name, appendClass, noBreak, animated} = Astro.props;
---

<div class={"heading--two-line" + (appendClass ? (' ' + appendClass) : '')}>
    <p class="heading__pre">{title}</p>
    <h1 class={"heading__title" + (noBreak ? " title--no-break" : "")}>
        {animated ? <AnimateLine text={name} /> : name}
    </h1>
</div>

<style>
    .heading__title {
        font-weight: 500;
    }
    
    .heading__pre {
        text-transform: uppercase;
        font-size: 0.9rem;
    }
</style>