---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FeaturedProjects from "../../components/index/FeaturedProjects.astro";

const featured = [
	{ label: "Virtual piano and recorder", link: "https://florence-yuan.github.io/virtual-instrument/" },
	{ label: "Classical music", link: "https://github.com/florence-yuan/instrument_classifier" },
	{ label: "A community through time", link: "#" },
	{ label: "Wizard of Oz concept game", link: "#" },
	{ label: "Infinity Hotel concept game", link: "#" },
	{ label: "Random crossword", link: "https://florence-yuan.github.io/fill-in-puzzle/" },
	{ label: "Classic chess", link: "https://florence-yuan.github.io/react-chess-app/" },
	{ label: "Falling squares game", link: "https://florence-yuan.github.io/square-game/" },
	{ label: "Hypertext story", link: "#" },
]
---

<BaseLayout pageTitle='Tech'>
	<div class="flex">
		<div class="article__fig">
			<!-- <div class="article__svg" /> -->
		</div>
		<article>
			<h1>Tech, web-dev & multimedia</h1>
			<ul class="featured-projs">
				{featured.map(({label, link}) => (
					<li class="featured__proj">
						<a class="proj__link link--no-underline" href={link}>{label}</a>
					</li>
				))}
			</div>
		</article>
	</div>
</BaseLayout>

<style>
	.flex {
		display: flex;
		gap: calc(3rem + 3vw);
		margin: 5rem auto;
		justify-content: center;
	}

	article {
		flex: 1;
		margin: 0;
		background-image: url(../../assets/images/coder.svg);
		background-size: 35%;
		background-repeat: no-repeat;
		background-position: right 100%;
	}

	.article__fig {
		position: relative;
		width: 23rem;
		height: 50rem;
		background-image: url("../../assets/images/lamp.png");
		background-size: contain;
		background-repeat: no-repeat;
		/* filter: brightness(0.9); */
	}

	.article__svg {
		position: absolute;
		bottom: 5rem;
		right: -5rem;
		display: block;
		width: 20rem;
		height: 20rem;
		background-image: url(../../assets/images/coder.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.featured__proj {
		list-style: none;
		font-size: 2.2rem;
		font-family: 'Belarus';
		text-transform: uppercase;
	}

	.featured__proj + .featured__proj {
		margin-top: .2em;
	}

	.proj__link:hover {
		text-decoration: 2px underline;
		text-underline-offset: 5px;
	}
</style>