---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FeaturedProjects from "../../components/index/FeaturedProjects.astro";
---

<BaseLayout pageTitle='Tech'>
	<article>
		<h1>Tech, web-dev & multimedia</h1>
		<FeaturedProjects />
	</article>
</BaseLayout>

<style>
	body {
		/* background-color: var(--pale-blue); */
	}
</style>